<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ввод текста</title>
    <link href='../static/main.css' rel="stylesheet">
</head>
<body>
    <form action="/" method="post">
        <textarea cols="100" rows="50" id="text" name="text"></textarea>
        <div id="radios">
            <input type="radio" name="sort" value="alph" checked/>Сортировать по алфавиту <br>
            <input type="radio" name="sort" value="len"/>Сортировать по длине <br>
        </div>
        <input type="submit" value="Выполнятор">
    </form>
</body>
</html>