@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Alpine Ski House — высококлассный горнолыжный склон на северо-востоке.</p>
</div>
