<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Регистрация</title>
</head>
<body>
    <div class="d-flex align-items-center justify-content-center " style="height: 700px">
        <div class="">
            <div class="card" style="height: auto; width: 400px;">
                <h3 class="card-header bg-primary text-white text-center">
                    Enregistrement
                </h3>
                <div class="card-body" style="background-color: yellow">

                    <form class="panel-body" method="POST">
                        {% csrf_token %}
                        <div class="input-group justify-content-between py-1">

                            Имя пользователя
                            {{form.username}}
                        </div>
                        <div class="input-group justify-content-between py-1">
                            Почта
                            {{form.email}}
                        </div>
                        <div class="input-group justify-content-between py-1">
                            Mot de passe
                            {{form.password1}}
                        </div>
                        <div class="input-group justify-content-between py-1">
                            Репеат пассворд
                            {{form.password2}}
                        </div>
                        <div class="text-center">
                            <input type="submit" class=" btn btn-primary " value="Зарегаца" name="Зарегистрироваться">
                        </div>

                        <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>