.forma{
    margin:auto;
    width: 200px;
    background-color: lightblue;
    font-family:Comic Sans MS ;
    padding: 20px;
}
#everything{
    margin:auto;
    width: 200px;
    background-color: lightblue;
    font-family:Comic Sans MS ;
    padding: 20px;
    color:red;
}
body{
    background-image: url(wp2570965.jpg);
}