body{
    background-image: url("bg.png");
    font-family:arial;
}
article{
    background-color:white;
    border-radius:30px;
    padding:30px;
    width:1000px;
    margin:auto;
}
.num{
    text-align:right;
}
.num input[type=text]{
    width:50px;
}
.det{
    width:450px;
    text-align:left;
    border-radius:20px;
}
.right{
    margin-left:400px;
    margin-top:-185px;
}
.right input{
    width:30px;
}
.sort{
    width:450px;
    border-radius:20px;
    margin-left:500px;
    margin-top:-215px;
    padding-bottom:80px;
}
.sorted{
    margin-top:20px;
    text-align:center
}
.sorted p{
    text-align:left;
}
.sorted input[type=text]{
    width:800px;
    text-align:center;
}
.knopk{
    text-align:center;
}
#initial{
    width:800px;
    text-align: center;
}