html, body {
    height: 100%;
    margin: 0;
    font-family: "Comic Sans MS";
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
    margin: 30px;
}

#left {
    overflow-y: scroll;
    width: 80%;
    height: 100%;
    float: left;
    background-color: dodgerblue;
}

#right {
    float: right;
    width: 20%;
    height: 100%;
    background-color: yellow;
}

#login {
    margin-top: 10px;
    border: 1px black solid;
    text-align: center;
    padding: 10px;
}

#cartUL {
    height: 70%;
    border: black solid 1px;
    background-color: white;
    overflow-y: scroll;
}
#logoutBtn {
    display: none;

}

