body{
    font-family: Arial;
    text-align: center;
}

.inputs{
    background-color: limegreen;
    width: 700px;
    margin: auto;
    border-radius: 10px;
    padding: 100px;
}

.tyan{
    color:hotpink;
}
.kun{
    color:deepskyblue;
}
