<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Laba4</title>
</head>
<body>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" id="fileUpload" accept=".docx" name="fileUpload">
        <input type="radio" name="type" value="boolean" checked> Boolean <br>
        <input type="radio" name="type" value="term_frequency"> Term frequency <br>
        <input type="radio" name="type" value="tf-idf"> TF-IDF <br>
        <input type="submit" value="Выполнятор">
    </form>
</body>
</html>